
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fcefdc;
    color: #4D4536;
    overflow-x: hidden;
}

header {
    padding: 1rem 2rem;
    background-color: #fcefdc;
}

.logo-top img {
    height: 100px;
    display: block;
    margin: 0 auto;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #fcefdc;
}

.fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.texto {
    position: relative;
    z-index: 2;
    padding: 5% 8%;
    max-width: 600px;
}

.texto .name {
    font-size: 1.4rem;
    margin-bottom: 0.1rem;
    font-weight: 500;
}

.texto h1 {
    font-size: 4rem;
    line-height: 1.2;
    font-weight: bold;
}

.Adriane {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 95vh;
    max-height: 800px;
    z-index: 3;
    object-fit: contain;
    pointer-events: none;
}

footer {
    background-color: #f7e8d0; 
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    height: 100px;
}

.redes-sociais {
    display: flex;
    height: 80px;
    gap: 1rem;
    color: #736244
}

footer hr {
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #ccc;
}

footer p {
    width: 100%;
    text-align: center;
    font-size: 0.875rem;
    color: #555;
}

@media (max-width: 768px) {
  .texto {
    padding: 2rem 1.5rem;
    text-align: center;
    top: 60px; 
    }

  .texto .name {
    font-size: 1rem;
    }

  .texto h1 {
    font-size: 1.8rem;
    line-height: 1.3;
  }
  
  .Adriane {
    height: 45vh;
    bottom: 70px;
    right: 50%;
    transform: translateX(50%);
    
  }

  footer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }

  .redes-sociais {
    justify-content: center;
  }

  footer hr {
    margin: 1rem 0;
  }

  footer p {
    font-size: 0.8rem;
  }
}